<footer class="chess-footer">
    <nav class="nav container">
      <a class="logo logofooter" href="./index.html"><img class="nav_icon" src="./assets/images/logo.png" alt="">Escacs Club</a>

      <ul class="nav_list">
        <li class=""nav_item>
          <a href="index.html" class="nav_link">Inici</a>
        </li>
        <li class=""nav_item>
          <a href="members.html" class="nav_link">Membres</a>
        </li>
        <li class=""nav_item>
          <a href="blog.html" class="nav_link">Blog</a>
        </li>
        <li class=""nav_item>
          <a href="contact.html" class="nav_link">Contacte</a>
        </li>
      </ul>

      <ul class="nav_list">
       <a href=https://www.instagram.com/""><i class="fa-brands fa-instagram fa-sm" style="color: #ffffff;"></i></a>
       <a href="https://es-es.facebook.com/"><i class="fa-brands fa-facebook-f fa-sm" style="color: #ffffff;"></i></a>
       <a href="https://twitter.com/home?lang=ES"><i class="fa-brands fa-twitter fa-sm" style="color: #ffffff;"></i></a>
      </ul>

    </nav>
  </footer>
