  <header class="chess_header">
    <nav class="nav container">
      <a class="logo" href="./index.html"><img class="nav_icon" src="./assets/images/logo.png" alt="">Escacs Club</a>

      <ul class="nav_list">
        <li class="nav_item">
          <a href="members.html" class="nav_link">Membres</a>
        </li>
        <li class="nav_item">
          <a href="blog.html" class="nav_link">Blog</a>
        </li>
        <li class="nav_item">
          <a href="contact.html" class="nav_link">Contacte</a>
        </li>
      </ul>
<!--
      <figure class="nav_menu">
        <img class="nav_icon" src="./assets/images/menu.svg" alt="Menú">
      </figure> -->
    </nav>
  </header>

  <!-- https://cdn.pixabay.com/photo/2017/03/18/16/20/chess-2154429_1280.png LOGO-->


